{% extends "base.html" %}
    {% block content %}
        <h1>About</h1>
        <p style="color: white;">The website were create by Vadim Sher and Yakov Takser.
        The website is about traveling all over the world.
        You can find freinds to travel with around the word, make to do lists with the places that you want to visit,
        search for the countries and cities you want see and travel, you can see different statistics about traveling
        weh hope you will enjoy from the being at out website.

        You can contact us on yakovtakser@gmail.com.</p>
    {% endblock %}


