{% extends "base.html" %}

{% block content %}
<legend class="border-bottom mb-4">{{ legend }}</legend>
    <table style="width:100%">
    <tr>
    <td width="100">
        <a href="{{ url_for('todolists.new_to_do_list') }}" class="btn btn-danger btn-md btn-block" role="button"><i class="glyphicon glyphicon-edit"></i>New</a></td>
    <td width="100">

         <a  href="{{ url_for('todolists.to_do_lists', post_id=0, to_do_list_id=0) }}"class="btn btn-md btn-block" >To do lists&nbsp; </a>
    </td>
    </table>
    <!-- To Do List -->

       <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{url_for('users.user_account_show', username=to_do_list.author.username)}}">{{ to_do_list.author.username }}</a>
          <small class="text-muted">{{ to_do_list.date_posted.strftime('%d-%m-%Y') }}</small>
            {% if to_do_list.author == current_user or current_user.admin_permissions == 1 %}
            <div>
                <a class="btn btn-secondary btn-sm m-1 mb-1" href="{{ url_for('todolists.update_to_do_list', todolist_id=to_do_list.id ) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
            {% endif %}
        </div>

        <h3 class="text-info"><a class="article-title" href="{{ url_for('todolists.to_do_list', todolist_id=to_do_list.id) }}">{{ to_do_list.title }}</a></h3>
        <p class="article-content">{{ to_do_list.content }}</p>
      </div>

    </article>
        {% for post in posts %}
            <div class="row">
                <button type="button" class="btn btn-info"><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">View</a></button>
                {% for x in range(40) %}
                    &nbsp;
                {% endfor %}
                <h3 class="text-info"><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">Post Name: {{ post.title }}</a></h3>
            </div>
            <br>
        {% endfor %}

  <!--Gallery of To do list-->
    <h2>Gallery of places to travel</h2>
    <br>
    {% for pic in images %}

        <img width="300" height="300" class="img-thumbnail" src="{{ url_for('static', filename='posts_pics/' + pic.image_file_path) }}" alt="Italian Trulli">
        <br><br>
    {% endfor %}

    {% for imgs in dictionary_of_lists_of_pics_of_posts %}
        {% for pic in imgs %}
            <img width="300" height="300" class="img-thumbnail" src="{{ url_for('static', filename='posts_pics/' + pic.image_file_path) }}" alt="Italian Trulli">
        <br><br>
        {% endfor %}
    {% endfor %}
    <!-- Delete Confirmation -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete TO do list?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('todolists.to_do_list', todolist_id=to_do_list.id) }}" method="POST">
                <input class="btn btn-danger btn-sm" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Delete Confirmation End -->


{% endblock %}